﻿@using Domain
@model Domain.Entities.Teacher
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(model => model.FirstName)
            <p>@Html.EditorFor(model => model.FirstName)</p>
        </div>
        <div>
            @Html.LabelFor(model => model.MiddleName)
            <p>@Html.EditorFor(model => model.MiddleName)</p>
        </div>
        <div>
            @Html.LabelFor(model => model.LastName)
            <p>@Html.EditorFor(model => model.LastName)</p>
        </div>
        <div>
            @Html.LabelFor(model => model.Department)
            <p>@Html.DropDownListFor(m => m.Department, new SelectList(from d in Unit.DepartmentsRepository.AllItems select d.Name))</p>
        </div>
        <p><input type="submit" value="Submit" /></p>
    }
</div>
<p>@Html.ActionLink("Go back", "Index")</p>

