﻿@model Domain.Entities.Teacher
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>
<h3>Do you really want to delete this Teacher?</h3>
<div>
    <p>First Name: @Html.DisplayFor(m => m.FirstName)</p>
    <p>Middle Name: @Html.DisplayFor(m => m.MiddleName)</p>
    <p>Last Name: @Html.DisplayFor(m => m.LastName)</p>
    <p>Department: @Html.DisplayFor(m => m.Department.Name)</p>

    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" />
    }
</div>
