﻿@model Domain.Entities.Audience
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(model => model.Name)
        <p>@Html.EditorFor(model => model.Name)</p>
    </div>
    <p><input type="submit" value="Submit" /></p>
}
</div>
<p>@Html.ActionLink("Go back", "Index")</p>

