﻿@model Domain.Entities.Audience
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>
<h3>Do you really want to delete this audiencce?</h3>
<div>
    <p>Audience: @Html.DisplayFor(m => m.Name)</p>

    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" />
    }
</div>
