﻿@using Domain
@model Domain.Entities.Phone
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(model => model.StudentsPhone)
            <p>@Html.EditorFor(model => model.StudentsPhone)</p>
        </div>
        <div>
            @Html.LabelFor(model => model.Student)
            <p>@Html.DropDownListFor(model => model.Student, new SelectList(Unit.StudentsRepository.AllItems))</p>
        </div>
        <p><input type="submit" value="Submit" /></p>
    }
</div>
<p>@Html.ActionLink("Go back", "Index")</p>

