﻿@model Domain.Entities.Phone
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>
<h3>Do you really want to delete this Phone?</h3>
<div>
    <p>Phone: @Html.DisplayFor(m => m.StudentsPhone)</p>
    <p>Student's first name: @Html.DisplayFor(m => m.Student.FirstName)</p>
    <p>Student's first name: @Html.DisplayFor(m => m.Student.LastName)</p>

    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" />
    }
</div>
