﻿@model Domain.Entities.Phone
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Id)
        </th>
        <th>
            Phone
        </th>
        <th>
            Student
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.StudentsPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Student.FirstName) @Html.DisplayFor(modelItem => modelItem.Student.LastName)
        </td>
        <td></td>

</table>
<p>@Html.ActionLink("Go back", "Index")</p>

