﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>@Html.ActionLink("University", "Index", "Home")</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Administration</a>
                    <ul class="collapse list-unstyled" id="adminSubmenu">
                        <li>
                            @Html.ActionLink("Audiences", "Index", "Audiences")
                        </li>
                        <li>
                            <a href="#">AudLects</a>
                        </li>
                        <li>
                            @Html.ActionLink("Departments", "Index", "Departments")
                        </li>
                        <li>
                            <a href="#">Groups</a>
                        </li>
                        <li>
                            <a href="#">Lections</a>
                        </li>
                        <li>
                            <a href="#">Marks</a>
                        </li>
                        <li>
                            @Html.ActionLink("Phones", "Index", "Phones")
                        </li>
                        <li>
                            @Html.ActionLink("Specialities", "Index", "Specialities")
                        </li>
                        <li>
                            <a href="#">Students</a>
                        </li>
                        <li>
                            @Html.ActionLink("Subjects", "Index", "Subjects")
                        </li>
                        <li>
                            @Html.ActionLink("Teachers", "Index", "Teachers")
                        </li>
                        <li>
                            <a href="#">TeachSubjs</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">For students</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Marks</a>
                        </li>
                        <li>
                            <a href="#">Students</a>
                        </li>
                        <li>
                            <a href="#">Schedule</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">For teachers</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Marks</a>
                        </li>
                        <li>
                            <a href="#">Schedule</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                        <ul class="nav navbar-nav ml-auto">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </div>
            </nav>
            <div class="container body-content">

                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>